#BoxLogin {
    margin: auto;
    width: 50%; /* ou qualquer largura desejada */
    height: auto; /* ou qualquer altura desejada */
    background: #0077B6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.792);
    border: 1.5px solid black;
    /* Adicione outros estilos conforme necessário */
}
#LoginContainer {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}